

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




   .top-buffer {
    margin-top: 20px;
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.kbin_h3 {
    font-family: 'Anaheim', sans-serif, helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #3b1347;
}

.kbin_nav-link {
    color: #9165ab !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15PX;
}
.kbin_nav-link-active {
    color: #3b1347 !important;

}
.kbin_site-footer {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
}

.kbin_site-footer p {

    color: #808080
}

.kbin_main_photo_overlay {
    background-color: #3c1048; 
    top: 57vh;
    bottom: auto;
    width: 50%;
    left:25%;
    
}
.kbin_btn-primary{
    border-radius: 0;
    background-color: #3b1347;
    color: white;
    font-family:'Anaheim', sans-serif, helvetica;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    font-size: 1.05rem;
    margin-left:-1vw; 
    text-transform: uppercase;
}
.kbin_btn-secondary{
    border-radius: 0;
    background-color: #9165ab !important;
    color: white;
    font-family:'Anaheim', sans-serif, helvetica;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    font-size: 1.05rem;
    margin-left:-1vw; 
    text-transform: uppercase;
}
.kbin_btn-orange{
    border-radius: 0;
    background-color: orangered !important;
    color: white;
    font-family:'Anaheim', sans-serif, helvetica;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    font-size: 1.05rem;

    text-transform: uppercase;
}
.kbin_btn-light{
    border-radius: 0;
    color:#3b1347;
}
.kbin_nav-item{
    border-radius: 0;
    font-size: 1.0rem;

    border-color: #9165ab;
}

.kbin_nav-item.active{
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
    border-bottom-color:  #3c1048;
    font-weight: bold;
    
}
.kbin_nav-item a{
    color: #3c1048;
    font-family: 'Anaheim', sans-serif, helvetica;
    
}
.kbin_form-control{
    border-radius: 0;
    font-size: 1.05rem;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    border-color: rgba(145,101,171,0.7);
    
}
.kbin_form-control::placeholder{
    color:rgba(145,101,171,0.5);
}
h5{
    color: #3c1048;
    font-family: 'Anaheim', sans-serif, helvetica;
    font-size:1.5rem;
    
}
.kbin_main_photo_overlay h5{
    font-family: 'Anaheim', sans-serif, helvetica;
    font-weight: 400;
    color: rgb(241, 89, 42);
    font-size: 22px;
}
.kbin_main_photo_overlay p{
    font-family: 'Anaheim', sans-serif, helvetica;
    font-size: 20pX;
}
.kbin_main_photo_overlay p a{
    font-family: 'Anaheim', sans-serif, helvetica;
    color: rgb(241, 89, 42);
    font-size: 20pX;
}



@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}


.kbin_badge-primary{
    background-color: #3c1048;
    color: white;
    border-radius: 0px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-transform: uppercase;
    font-family: 'Anaheim', sans-serif, helvetica;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1vw;
}
.kbin_badge-secondary{
    background-color: #9165ab;
    color:white;
    font-family: 'Anaheim', sans-serif, helvetica;
    font-weight: 400;
    font-size: 0.9rem;
}
.kbin_badge-primary a{
    color: #3c1048;
    
}





